body {
    background-color: rgb(70, 142, 236);
    font: 15pt Arial;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.290);
}

header {
    color: white;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div#data {
    height: 95px;
}

input#multiplication_button {
    position: relative;
    left: 285px;
    bottom: 95px;
    height: 79px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.63);
    background-color: rgba(56, 54, 112, 0.596);
    border-radius: 8px;
}
